{% assign url1="/posts/geometry/gemstones/2019/07/05/gemstones-jewellery-sacred-geometry-circle.html" %}
{% assign imgUrl1="/images/promo/gis-dancing-orbit-lapis-lazuli-01.png" %}
{% assign imgAlt1="Lapis lazuli gemstone necklace by Gems In Style jewellery" %}
{% assign url2="/news/" %}
{% assign imgUrl2="/images/promo/gis-magic-quad-onyx-01.png" %}
{% assign imgAlt2="Black onyx gemstone necklace by Gems In Style jewellery" %}

<aside id="banner-promo" class="banner-promo">
	<div class="section group">
	  <div class="col span_6_of_12 matchheight bg-1">
  		<a class="col" href="{{ url1 }}"><img class="object" src="{{ imgUrl1 }}" alt="{{ imgAlt1 }}"></a>
	  	<a class="col text" href="{{ url1 }}"><div class="text dark">
	  		<h2>Sacred Geometry Jewellery with Natural Gemstones</h2>
			<p>Best of both worlds…</p>
		</div></a>
	  </div>
	  <div class="col span_6_of_12 matchheight bg-2">
  		<a class="col" href="{{ url2 }}"><img class="object" src="{{ imgUrl2 }}" alt="{{ imgAlt2 }}"></a>
	  	<a class="col text" href="{{ url2 }}"><div class="text">
  			<h2>Astrology Today: Fresh celestial updates</h2>
  			<p>Discover the wonders…</p>
		</div></a>
	  </div>
	</div>
</aside>