<!-- <div class="float-clear"></div> -->

<div class="container feature-promo">
  <div class="row">
    <div class="col-6 col-img">
      <div class="row">
        <a href="/documentation/moon-phase-and-cycle-widget.html"><img src="/images/promo/iphone-widget-moon-cycle.png" alt="Moon phase and cycle widget for iPhone Lock Screen"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="row row-text">
      	<p class="title">Moon Phase & Cycle widget</p>
      	<p>This Lock Screen and Home Screen family of widgets covers current lunation, Moon phase, zodiac sign and other parameters, including eclipses, transit through constellations and fixed star conjunctions.</p>
        <p class="cta"><a href="/documentation/moon-phase-and-cycle-widget.html">Learn more…</a></p>
      </div>
    </div>
  </div>
</div>