<!-- <div class="float-clear"></div> -->

<div class="container feature-promo">
  <div class="row">
    <div class="col-6 col-img">
      <div class="row">
        <a href="/documentation/current-astological-chart-widget.html"><img src="/images/promo/iphone-widget-chart.png" alt="Astrologival chart widget for iPhone home screen"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="row row-text">
      	<p class="title">Chart for Now widget</p>
      	<p>This Home Screen widget displays current astrological chart and is fully configurable to your liking. Add multiple instances of the widget to show different aspects of astrological weather. Stack widget instances on top of each other and simply flick through them with your finger.</p>
        <p class="cta"><a href="/documentation/current-astological-chart-widget.html">Learn more…</a></p>
      </div>
    </div>
  </div>
</div>