<div class="float-clear"></div>

<div class="container feature-promo">
  <div class="row">
    <div class="col-6 col-img">
      <div class="row">
        <a href="/documentation/planetary-hour-widget-and-alarm.html"><img src="/images/promo/iphone-widget-planetary-hour.png" alt="Planetary hour widget for iPhone home screen"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="row row-text">
      	<p class="title">NEW Planetary Hour & Weekday widgets</p>
        <p>Add new home screen widgets to display current planetary hour as well as the planetary day of the wek. The widget can be configured to produce an audio alarm or a text notification at the beginning of each hour.</p>
        <p class="cta"><a href="/documentation/planetary-hour-widget-and-alarm.html">Learn more…</a></p>
      </div>
    </div>
  </div>
</div>