<!-- <div class="float-clear"></div> -->

<div class="container feature-promo">
  <div class="row">
    <div class="col-6 col-img">
      <div class="row">
        <a href="/documentation/nakshatras.html"><img src="/images/promo/iphone-widget-nakshatra.png" alt="Moon current nakshatra widget for iPhone Home Screen"></a>
      </div>
    </div>
    <div class="col-6">
      <div class="row row-text">
      	<p class="title">The Nakshatras (lunar mansions) widget</p>
      	<p>This Home Screen widget tracks current Moon nakshatra and includes an app extension that allows to reveal all chart planets within their corresponding nakshatras.</p>
        <p class="cta"><a href="/documentation/nakshatras.html">Learn more…</a></p>
      </div>
    </div>
  </div>
</div>