{% assign summary = site.data.reviews-appstore.data-summary %}
{% if summary %}
<div class="float-clear"></div>

<div class="container reviews-users-summary">
  <div class="row">
    <div class="col-6">
      <div class="row">
		<div itemscope itemtype="http://schema.org/AggregateRating" itemprop="aggregateRating"><span itemprop="ratingValue" content="{{ reviews.score }}"></span>
        <span itemprop="ratingCount" content="{{ reviews.reviews }}"></span>
        <span class="score">{{ summary.score }}</span> <span>rating</span></div>
		<div class="stars">
		{% assign score=summary.score | round %}
		{% case score %}
		  {% when 5 %}
		     <p class="testimonial-star">★★★★★</p>
		  {% when 4 %}
		     <p class="testimonial-star">★★★★★<span class="testimonial-star-off">★</span></p>
		  {% when 3 %}
		     <p class="testimonial-star">★★<span class="testimonial-star-off">★★★</span></p>
		  {% when 2 %}
		     <p class="testimonial-star">★★★<span class="testimonial-star-off">★★</span></p>
		  {% when 1 %}
		     <p class="testimonial-star">★<span class="testimonial-star-off">★★★★</span></p>
		  {% else %}
		     <p class="testimonial-star">&nbsp;</p>
		{% endcase %}
		</div>
		<p class="reviews">{{ summary.ratings }} ratings and<br>
		<a href="{% link pages/reviews.md %}">{{ summary.reviews }} reviews</a> on the App Store</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <p class="quote"><span class="q">“</span> <span itemprop="description"><strong>Time Nomad</strong> combines essential sets of astrological charts with attractive graphic displays and cutting-edge discoveries, including transit charts, progressed charts, synastry charts, composite charts, planetary hours, aspectarians; tropical and sidereal options, minor bodies such as asteroids, Chiron, Kuiper Belt objects; and illuminating points such as the lunar nodes, vertex, and Part of Fortune.</span></p>
      </div>
    </div>
  </div>
</div>
{% endif %}