<div id="drawing-rand" style="width: 100%; margin-right: 12px; background-color: none;"></div>

<div id="drawing-symm" style="width: 100%; margin-right: 12px; background-color: none;"></div>

<div id="drawing-asymm" style="width: 100%; margin-right: 12px; background-color: none;"></div>


<script src="/assets/svg.min.js"></script>

<div style="display: none;">
	<svg id="picto-saturn" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M21.4778427,25.5 C21.1176789,25.8997223 20.606237,26.7783695 20.606237,27.3587821 C20.606237,28.6045111 21.6160999,29.614374 22.8618289,29.614374 C24.1075579,29.614374 25.1174208,28.6045111 25.1174208,27.3587821" stroke="#000000" stroke-width="2"></path>
        <path d="M21.0298178,26.0803261 C22.3016671,24.5774812 23.0685444,22.6336173 23.0685444,20.5106395 C23.0685444,15.7462877 19.2062741,11.8840174 14.4419223,11.8840174 C12.2216871,11.8840174 10.3617224,12.6220728 8.83286328,14 C8.83286328,13.1567514 8.83286328,8.49008471 8.83286328,-1.77635684e-15" stroke="#000000" stroke-width="2"></path>
        <path d="M3,6.49999999 L15,6.5" stroke="#000000" stroke-width="2" stroke-linecap="square"></path>
    </g>
	</svg>
<svg id="picto-jupiter" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="pictogram-planet-jupiter-line" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M3.61261225,24.5 C10.4539776,24.5 16,19.3647941 16,13.0301965 C16,6.69559898 10.4539776,1.56039305 3.61261225,1.56039305" id="Path" stroke="#000000" stroke-width="2"></path>
        <g id="Line-+-Line-Copy" transform="translate(3.000000, 16.000000)" stroke="#000000" stroke-linecap="square" stroke-width="2">
            <path d="M16.375,0.653846154 L16.375,16.3461538" id="Line"></path>
            <path d="M1.3519559,8.5 L24.3365385,8.5" id="Line-2"></path>
        </g>
    </g>
</svg>
	<svg id="picto-mars" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <g id="pictogram-planet-mars-line" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <circle id="Oval-34" stroke="#000000" stroke-width="2" cx="9.5" cy="22.5" r="8.5"></circle>
	        <g id="Arrow" transform="translate(20.536305, 10.011378) rotate(40.000000) translate(-20.536305, -10.011378) translate(14.536305, 1.011378)" stroke="#000000" stroke-width="2">
	            <path d="M6,0.5 L6,17.2078476" id="Line"></path>
	            <polyline id="Path-193" stroke-linecap="round" points="1.0658141e-14 7 6 1.59872116e-14 12 7"></polyline>
	        </g>
	    </g>
	</svg>
	<svg id="picto-sun" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="pictogram-planet-sun-line" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <circle id="Oval-34" stroke="#000000" stroke-width="2" cx="16" cy="16" r="14.2788311"></circle>
        <circle id="Oval-34-Copy" fill="#000000" cx="16" cy="16" r="2"></circle>
    </g>
	</svg>
	<svg id="picto-venus" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <g id="pictogram-planet-venus-line" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <circle id="Oval-34" stroke="#000000" stroke-width="2" cx="16.5" cy="9.5" r="8.5"></circle>
	        <path d="M16.5,18.5769231 L16.5,32.4230769" id="Line" stroke="#000000" stroke-width="2" stroke-linecap="square"></path>
	        <path d="M9.57692308,25.5 L23.4230769,25.5" id="Line-2" stroke="#000000" stroke-width="2" stroke-linecap="square"></path>
	    </g>
	</svg>
	<svg id="picto-mercury" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <circle stroke="#000000" stroke-width="2" cx="16.5" cy="11.5" r="6.5"></circle>
	        <circle stroke="#000000" stroke-width="2" cx="16.5" cy="-2.5" r="6.5"></circle>
	        <g transform="translate(10.000000, 19.000000)" stroke="#000000" stroke-linecap="square" stroke-width="2">
	            <path d="M6.5,0.5 L6.5,12.5" id="Line"></path>
	            <path d="M0.5,6.5 L12.5,6.5" id="Line-Copy"></path>
	        </g>
	    </g>
	</svg>
	<svg id="picto-moon" width="16px" height="16px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="pictogram-planet-moon-line" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M8.57964434,29.7407679 C14.5254283,28.00154 18.8683361,22.5079402 18.8683361,16 C18.8683361,9.49205975 14.5254283,3.99845996 8.57964434,2.25923206 C9.85674898,1.88566046 11.207803,1.68529848 12.6056541,1.68529848 C20.5114455,1.68529848 26.9203557,8.09420865 26.9203557,16 C26.9203557,23.9057913 20.5114455,30.3147015 12.6056541,30.3147015 C11.207803,30.3147015 9.85674898,30.1143395 8.57964434,29.7407679 Z" id="Oval-34" stroke="#000000" stroke-width="2"></path>
    </g>
	</svg>
</div>

<script type="text/javascript">

	let iconSize = 16
	let allIcons = ['', 'picto-saturn', 'picto-jupiter', 'picto-mars', 'picto-sun', 'picto-venus', 'picto-mercury', 'picto-moon']

	let animatedDrawings = []

	/*
	let exampleDataModel = {
		idxs: [],
		thetas: [],
	}

	let exampleDrawingModel = {
		model: null,
		cx: 0,
		cy: 0,
		radius: 0,
		iconsRadius: 0,
		graphRadius: 0,
		outerCircle: null,
		innerCircle: null,
		icons: [],
		graph: null,
	}
	*/

		const symmetricals = [
			[1, 4, 7, 3, 6, 2, 5],
			[4, 2, 6, 1, 3, 7, 5],
			[5, 6, 3, 7, 4, 1, 2],
			[5, 3, 2, 7, 1, 6, 4],
			[7, 2, 5, 3, 6, 1, 4],
			[1, 2, 3, 4, 5, 6, 7],
			[3, 4, 2, 1, 7, 5, 6],
			[7, 6, 5, 1, 3, 2, 4],
			[2, 1, 4, 7, 3, 6, 5],
			[3, 7, 4, 5, 1, 6, 2],
			[7, 6, 5, 1, 4, 3, 2],
			[3, 2, 4, 1, 5, 7, 6],
			[2, 7, 6, 5, 3, 1, 4],
			[7, 1, 2, 5, 6, 3, 4],
			]

		const asymmetricals = [
			[1, 7, 2, 5, 4, 6, 3],
			[3, 4, 2, 7, 6, 1, 5],
			[7, 6, 1, 4, 5, 2, 3],
			[5, 4, 1, 3, 2, 7, 6],
			[4, 3, 6, 2, 7, 1, 5],
			[7, 2, 6, 1, 5, 3, 4],
			[4, 3, 7, 6, 5, 1, 2],
			[6, 4, 5, 7, 2, 1, 3],
			[3, 7, 5, 6, 2, 1, 4],
			[7, 3, 6, 1, 5, 4, 2],
			[4, 3, 7, 1, 6, 5, 2],
			[4, 6, 7, 5, 2, 1, 3],
			[1, 2, 3, 7, 4, 6, 5],
			]

	let symmetricalsPool = symmetricals
	let asymmetricalsPool = asymmetricals

	function getRegularPositions1() {
		return [4, 7, 3, 6, 2, 5, 1]
	}

	function getRegularPositions2() {
		return [6, 5, 4, 3, 2, 1, 7]
	}

	function getRandomPositions() {
		return [ 1, 2, 3, 4, 5, 6, 7 ].sort( () => Math.random() - 0.5)
	}

	function getSymmetricalPositions() {
		if (symmetricalsPool.length == 0) {
			symmetricalsPool = symmetricals
		}

		let i = Math.floor(Math.random() * symmetricalsPool.length)
		let poss = symmetricalsPool[i]
		symmetricalsPool.splice(i, 1)
		return poss
	}

	function getAsymmetricalPositions() {
		if (asymmetricalsPool.length == 0) {
			asymmetricalsPool = asymmetricals
		}

		let i = Math.floor(Math.random() * asymmetricalsPool.length)
		let poss = asymmetricalsPool[i]
		asymmetricalsPool.splice(i, 1)
		return poss
	}

	function getPositions(kind) {
		switch (kind) {
			case 'symm':
				return getSymmetricalPositions()
			case 'asymm':
				return getAsymmetricalPositions()
			case 'rand':
				return getRandomPositions()
			default:
				return getRandomPositions()
		}
	}

	function polarToCartesian(cx, cy, r, theta) {
		let x = cx + r * Math.sin(theta)
		let y = cy - r * Math.cos(theta)
		return [x, y]		
	}

	function drawPictogram(container, cx, cy, r, theta, idx) {
		let coord = polarToCartesian(cx, cy, r, theta)
		let x = coord[0] - iconSize / 2
		let y = coord[1] - iconSize / 2
		//let circle = container.circle(iconSize).fill('#f06').move(x, y)
		let id = allIcons[idx]
		if (id) {
			let icon = container.use(id).opacity(0.0).move(x, y).animate().opacity(1.0)
			return icon
		}
	}

	function drawGraph(container, cx, cy, r, kind) {
		let idxs = getPositions(kind)
		//idxs = [ 1, 2, 3 , 4, 5, 6, 7 ]

		// Print debug info
		//console.log(idxs)

		let r1 = r - iconSize * 2 // graph circle
		let r2 = r - iconSize * 0.8 // icon circe
		let arc = 2 * Math.PI / 7

		let thetas = []
		let points = []
		let vertices = []
		for (let i = 0; i < idxs.length; i++) {
			let theta = arc * (idxs[i] - 1)
			let coord = polarToCartesian(cx, cy, r1, theta)
			thetas.push(theta)
			vertices.push(coord)
			points.push(coord)
		}
		points.push(points[0])

		// Draw graph boundary circle: external

		let circle = container.circle(r * 2).attr({ cx: cy, cy: cx, fill: 'none', stroke: '#999', 'stroke-width': 1 })

		let circle1 = container.circle(r1 * 2 + 12).attr({ cx: cy, cy: cx, fill: 'none', stroke: '#999', 'stroke-width': 1 })

		//let circle2 = container.circle(r2 * 2).attr({ cx: cy, cy: cx, fill: 'none', stroke: '#bbb', 'stroke-width': 1 })

		// Draw axis lines
		//container.line(cx - r, cy, cx + r, cy).stroke({ width: 0.25 })
		//container.line(cx, cy - r, cx, cy + r).stroke({ width: 0.25 })

		// Draw arc lines
		//for (let i = 0; i < vertices.length; i++) {
		//	let vertex = vertices[i]
		//	let line = container.line(cx, cy, vertex[0], vertex[1]).stroke({color: '#aaa',  width: 0.25 })
		//}

		// Draw polygon
		let poly = container.polyline(points)
		poly.fill('none')
		poly.stroke({ color: '#333', width: 2, linecap: 'round', linejoin: 'round' })

		// Draw pictograms
		let icons = []
		for (let i = 0; i < idxs.length; i++) {
			let idx = idxs[i]
			let theta = thetas[idx - 1]
			let icon = drawPictogram(container, cx, cy, r2, theta, idx)
			icons.push(icon)
		}

		let model = {
			idxs: idxs,
			thetas: thetas,
		}

		let drawing = {
			container: container,
			model: model,
			cx: cx,
			cy: cy,
			radius: r,
			iconsRadius: r2,
			graphRadius: r1,
			outerCircle: circle,
			innerCircle: circle1,
			icons: icons,
			graph: poly,
		}

		return drawing
	}

	function updateAllGraphs() {

		for (let j = 0; j < animatedDrawings.length; j++) {
			let drawing = animatedDrawings[j]
			let idxs = getRandomPositions()

			// Print debug info
			//console.log(idxs)

			let container = drawing.container
			let cx = drawing.cx
			let cy = drawing.cy
			let r1 = drawing.graphRadius // graph circle
			let r2 = drawing.iconsRadius // icon circe

			let arc = 2 * Math.PI / 7

			let thetas = []
			let points = []
			let vertices = []
			for (let i = 0; i < idxs.length; i++) {
				let theta = arc * (idxs[i] - 1)
				let coord = polarToCartesian(cx, cy, r1, theta)
				thetas.push(theta)
				vertices.push(coord)
				points.push(coord)
			}
			points.push(points[0])

			// Update polygon
			drawing.graph.animate().plot(points)

			// Remove old icons
			let oldIcons = drawing.icons
			drawing.icons = []
			for (let i = 0; i < idxs.length; i++) {
				let icon = oldIcons[i]
				icon.animate().opacity(0.0).after(function(situation) {
				  this.remove()
				})
			}

			for (let i = 0; i < idxs.length; i++) {
				let idx = idxs[i]
				let theta = thetas[idx - 1]
				let icon = drawPictogram(container, cx, cy, r2, theta, idx)
				drawing.icons.push(icon)
			}

			animatedDrawings[j] = drawing
		}
	}

	function periodicUpdateAllGraphs() {
		// Print debug info
		//console.log('---------------------')

		updateAllGraphs()
		setTimeout(periodicUpdateAllGraphs, 3000)
	}

	function createGraphGrid(id, rows, cols, kind, animate) {
		var el = document.getElementById(id)
		if (!el) { return }

		// Calculate grid depending on container width
		let divW = el.offsetWidth
		if (divW < 600 && cols > 2) {
			cols = 2
		}

		let cellW = divW / cols

		let padL = 4
		let padR = 8
		let padT = 4

		let d = cellW - padL - padR
		let r = d / 2
		let cx = padL + d / 2
		let cy = padT + d / 2

		for (let i = 0; i < cols; i++) {
			for (let j = 0; j < rows; j++) {
				let draw = SVG(id).size(cellW, cellW)
				let drawing = drawGraph(draw, cx, cy, r, kind)
				if (animate) {
					animatedDrawings.push(drawing)
				}
			}
		}

		if (animate) {
    	setTimeout(periodicUpdateAllGraphs, 3000)
    }
	}

	SVG.on(document, 'DOMContentLoaded', function() {
		createGraphGrid('drawing-rand', 2, 3, 'rand', true)
		createGraphGrid('drawing-symm', 1, 3, 'symm', false)
		createGraphGrid('drawing-asymm', 1, 3, 'asymm', false)
	})
</script>
