/**
 * Global vars
 */

// Where all images stored
$imagedir:'/images/'; 

/**
 * Mixins
 */

// Background for div
@mixin background($color,$filename,$position:0 0,$repeat: no-repeat) {
    background: $color url(#{$imagedir}#{$filename}) $repeat $position;
    background-size: cover;
}

/**
 * Site navigation
 */

.site-nav {
  z-index: 1000;
}

/**
 * Skybar is a banner under the navigation
 */
skybar#appPromo {
  //width: 100%;
  // position: fixed;
  // z-index: 999;
  display: block;
  padding: 8px 16px 8px 16px;
  text-align: center;
  background-color: #7d889f;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: white;
    font-weight: 400;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }
}

.blink-blink {
    animation-duration: 2s;
    animation-name: skybarblink;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes skybarblink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/**
 * Site header
 */
.home-banner {
  min-height: $spacing-unit * 3 * 1.865;
  padding-top: $spacing-unit * 1.865;
  margin-bottom: $spacing-unit * 1.865;

  @include background(#343f6b, 'time-nomad-banner.jpg');

  // Positioning context for the mobile navigation icon
  position: relative;

  h1 {
    color: $white-color;
    text-shadow: rgba(black, 1.0) -1px -1px 0, rgba(black, 1.0) 1px 1px 0;
  }

  p {
    color: $white-color;
    text-shadow: rgba(black, 1.0) -1px -1px 0, rgba(black, 1.0) 1px 1px 0;
  }

  svg {
    position: absolute; top: 1em; right: 10%;
  }
}

// Hide main banner logo on mobile
@include media-query($on-palm) {
  .home-banner svg {
    display: none;
  }
}


.home-banner-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;
  float: left;
  color: $white-color;
}

/**
 * App Feed page header
 */
.site-header {
  svg.logo {
    float: left;
    margin-top: 7px;
    margin-right: 12px;
  }
}

/**
 * Page content
 */
.page-content-home {
  padding: 0;
  flex: 1;
}

/**
 * Hyperlinks in top navigation
 */

a.site-title:hover {
  text-decoration: none;
}

a.page-link:hover {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 4px solid $grey-color-light;
}

a.page-link.active {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 4px solid $grey-color-dark;
}

/**
 * Lists
 */
ul, ol {
  list-style-position: outside;
  margin-left: 1em;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
    list-style-position: outside;
    margin-left: 1em;
  }
}

ul.bullet-inside, ol.bullet-inside {
  list-style-position: inside;
}

blockquote {
  letter-spacing: normal;
  font-style: normal;
  margin-bottom: $spacing-unit;
  color: #273aa3;
  border-left: 4px solid #374fe8;
}

/**
 * Pre-formatted code blocks
 */
code {
  white-space: normal;
}

/**
 * Styling additions
 */
.bg-grey-light {
  background-color: $grey-color-light;
}

/**
 * Floating divs
 */
.float-left {
  float: left;
  margin-right: 2em;
}

.float-clear {
  clear: both;
  min-height: 1em;
  margin: 1em 0;
}

.float-clear-hair {
  clear: both;
  max-height: 1px;
  margin: 0;
}

.clearfix {
    @extend %clearfix;
}

/**
 * Spacing modifiers
 */

.space-before {
  margin-top: 1em;
}

.space-before-zero {
  margin-top: 0em;
}

.space-after {
  margin-bottom: 1em;
}

.space-leading {
  padding-left: 1em;
}

.space-trailing {
  padding-right: 1em;
}

/**
 * Grid modifiers
 */

.row {
  .table-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-top: 1px $grey-color-dark solid;    
    border-bottom: 1px $grey-color-dark solid;
  }
}

.testimonial {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 1em;
}

.testimonial-star {
  color: #F5A623;
  font-style: normal;
  letter-spacing: 2px;
}

.testimonial-star-off {
  color: #AAAAAA;
  font-style: normal;
  letter-spacing: 2px;
}

/**
 * User reviews
 */

.review-user {
  font-size: 14px;
  margin-bottom: 2em;

  p {
    margin-bottom: 0.5em;
  }

  .testimonial-star {
    margin-bottom: 0;
  }

  .title {
    font-size: 18px;
    margin-bottom: 0.5em;
  }

  .footer {
    font-size: 12px;
    margin-bottom: 0.5em;
    color: $grey-color-dark;
  }
}

/**
 * Users reviews summary
 */

.reviews-users-summary {
  font-size: 14px;
  padding-left: 2.5em;
  margin-bottom: 2em;
  background-color: #343f6b;
  border-radius: 5px;
  color: #ffffff;

  p {
    margin-bottom: 0.5em;
    line-height: 1.8;
  }

  .score {
    font-size: 64px;

    span {
    font-size: 18px;
    }
  }

  .testimonial-star {
    font-size: 32px;
    margin-bottom: 0;
    letter-spacing: 8px;
  }

  .reviews {
    font-size: 18px;
    margin-bottom: 0.5em;

    a:link, a:visited, a:active {
        color: #ffffff;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 1px solid $grey-color-light;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 4px solid $grey-color-light;
    }
  }

  .col-6 .quote {
    font-size: 12px;
    line-height: 200%;
    margin-top: 2.2em;
    margin-bottom: 1.5em;

    .q {
      font-size: 64px;
      line-height: 24px;
      vertical-align: -20px;
    }
  }

  .col-6 .cta {
    margin-bottom: 1.5em;

    a:link, a:visited, a:active {
        color: #ffffff;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 1px solid $grey-color-light;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 4px solid $grey-color-light;
    }
  }
}

/**
 * Modify layout: footer
 * Widening the middle column
 */


.footer-col-1 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Content for page: feature
 */

.page-feature {

  h1, h2, h3, h4, h5 {
    clear: both;
  }

  hr {
    margin-bottom: $spacing-unit;
  }

  ul {
    list-style: outside;
    margin-left: 1em;
  }

  ul li {
      position: relative;
      left: 1em;
      padding-right: 1em;    
  }

  img {
    float: left;
    margin: $spacing-unit;
    margin-top: 0;
    margin-left: 0;
    border-radius: 8px;
    width: 316px;
  }
}

/**
 * Posts summary page
 */
li {
  img.post-thumb {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 1em;
    border: 1px solid $gray;
  }

  h3 {
    line-height: 1.2;
  }
}

@include media-query($on-palm) {
  li {
    img.post-thumb {
      width: 140px;
      height: 140px;
      float: none;
      margin-bottom: 10px;
    }
  }

  h3 {
    line-height: 1.4;
    margin-top: 0.5em;
  }
}

/**
 * Posts summary page
 */
li {
  img.doc-thumb {
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 1em;
    border: 1px solid $gray;
  }
}

@include media-query($on-palm) {
  li {
    img.doc-thumb {
      width: 100px;
      height: 100px;
      float: none;
      margin-bottom: 10px;
    }
  }
}

/**
 * Styling of text
 */

.text-photo-caption-serif {
  font-family: $serif;
}

.post-pullout-box {
  background-color: #ddd; 
  padding: 8px 8px 8px 16px;
}

.post-pullout-box-copyright {
  color: #aaa;
}

article.post {
  .doc-ref-box {
    background-color: #bcc9dd; 
    padding: 8px 8px 8px 16px;
    margin-top: 42px;

    h3, h4, h5 {
      margin-top: 0;
    }
  }
}

/**
 * Styling of post images
 */

article.post {
  img.post-icon {
    width: 120px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  img.snake {
    float: left;
    margin-right: 16px;
  }
  img.snake-tail {
    clear: both;
  }
}

@include media-query($on-palm) {
  article.post {
    img.snake {
      float: none;
      margin-right: 0;
    }
    img.snake-tail {
      clear: right;
    }
  }
}

/**
 * Subscribe CTA
 */

.share-subscribe {
  margin-left: 1em;
  display: inline;
}

@include media-query($on-palm) {
  .share-subscribe {
    margin-left: 0;
    margin-top: 1em;
    display: inline-block;
  }
}