---
layout: default
---

<div class="home">
  {% comment %}
  {%- if page.title -%}
    <h2 class="page-heading">{{ page.title }}</h2>
  {%- endif -%}
  {% endcomment %}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading space-before">{{ page.list_title | default: "Recent posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign image = post.schema.image -%}
        {%- if image -%}
        <a class="post-link" href="{{ post.url | relative_url }}"><img class="post-thumb" src="{{ site.url | append: image.url_1x1 }}" alt="{{ image.alt }}"></a>
        {%- endif -%}
        <div class="post-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="byline-item">{{ post.date | date: date_format }}</span>
          {%- if site.data.comments[post.slug].size > 0 -%}
          <span class="byline-item"><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments' | prepend: 'assets/' | relative_url }}"></use></svg>{{ site.data.comments[post.slug] | size }}&nbsp;Comment{% if site.data.comments[post.slug].size > 1 %}s{% endif %}</span>
          {%- endif -%}
        </div>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.description }}
        {%- endif -%}
        <div class="clearfix"></div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="space-before">* * *</p>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
