---
layout: default
---

<div class="home" itemscope itemtype="http://schema.org/Article">
  {% comment %}
  {%- if page.title -%}
    <h2 class="page-heading">{{ page.title }}</h2>
  {%- endif -%}
  {% endcomment %}
  <link itemprop="mainEntityOfPage" href="{{ site.url | append: page.url }}">
  <meta itemprop="datePublished" content="{{ page.date | date: date_to_xmlschema }}">
  <meta itemprop="dateModified" content="{{ page.modified | date: date_to_xmlschema }}">
  {%- if site.structured_data.author -%}
    <span class="byline-item" itemprop="author" itemscope itemtype="http://schema.org/Person"><meta class="p-author h-card" itemprop="name" content="{{ site.structured_data.author.name }}"></span>
  {%- endif -%}
  {%- if site.structured_data.publisher -%}
    <span class="byline-item" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.structured_data.publisher.name }}"><span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: site.structured_data.publisher.logo.url }}"><meta itemprop="width" content="{{ site.structured_data.publisher.logo.width }}"><meta itemprop="height" content="{{ site.structured_data.publisher.logo.height }}"></span></span>
  {%- endif -%}
  {%- if page.schema.image -%}
    {%- assign image = page.schema.image -%}
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: image.url_1x1 }}"><meta itemprop="width" content="{{ image.size_1x1 }}"><meta itemprop="height" content="{{ image.size_1x1 }}"></span>
  {%- elsif page.image -%}
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: page.image }}"></span>
  {%- endif -%}

  <div itemprop="articleBody">
    {{ content }}
    
    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading space-before">{{ page.list_title | default: "Recent posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li itemscope itemtype="http://schema.org/Article">
          <link itemprop="mainEntityOfPage" href="{{ post.url | absolute_url }}">
          <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- if page.modified -%}
            {%- assign dateModified = page.modified -%}
          {%- else -%}
            {%- assign dateModified = page.date -%}
          {%- endif -%}
          <meta itemprop="dateModified" content="{{ dateModified | date: date_to_xmlschema }}">
          {%- if site.structured_data.author -%}
            <span class="byline-item" itemprop="author" itemscope itemtype="http://schema.org/Person"><meta class="p-author h-card" itemprop="name" content="{{ site.structured_data.author.name }}"></span>
          {%- endif -%}
          {%- if site.structured_data.publisher -%}
            <span class="byline-item" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.structured_data.publisher.name }}"><span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: site.structured_data.publisher.logo.url }}"><meta itemprop="width" content="{{ site.structured_data.publisher.logo.width }}"><meta itemprop="height" content="{{ site.structured_data.publisher.logo.height }}"></span></span>
          {%- endif -%}

          {%- assign image = post.schema.image -%}
          {%- if image -%}
          <a class="post-link" href="{{ post.url | relative_url }}" itemprop="url"><img class="post-thumb" src="{{ site.url | append: image.url_1x1 }}" alt="{{ image.alt }}"></a>
          <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: image.url_1x1 }}"><meta itemprop="width" content="{{ image.size_1x1 }}"><meta itemprop="height" content="{{ image.size_1x1 }}"></span>
          {%- endif -%}
          <div class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="byline-item">{{ post.date | date: date_format }}</span>
            {%- if site.data.comments[post.slug].size > 0 -%}
            <span class="byline-item"><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments' | prepend: 'assets/' | relative_url }}"></use></svg>{{ site.data.comments[post.slug] | size }}&nbsp;Comment{% if site.data.comments[post.slug].size > 1 %}s{% endif %}</span>
            {%- endif -%}
          </div>
          <h3 itemprop="headline">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            <div itemprop="description">{{ post.description }}</div>
          {%- endif -%}
          <div class="clearfix"></div>
        </li>
        {%- endfor -%}
      </ul>

      <p class="space-before">* * *</p>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
  </div>
</div>
