<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body itemscope itemtype="http://schema.org/SoftwareApplication"><span itemprop="operatingSystem" content="Requires iOS 9.0 or later. Compatible with iPhone, iPad, and iPod touch."></span><span itemprop="applicationCategory" content="Lifestyle"></span><span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="category" content="free"></span><span itemprop="price" content="0"></span><span itemprop="priceCurrency" content="USD"></span></span>

    {%- include header.html -%}

    <main class="page-content-home" aria-label="Content">
      {%- include home-banner.html -%}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
