---
layout: default
---

<div class="home">
  <div itemscope itemtype="http://schema.org/Article">
    {% comment %}
    {%- if page.title -%}
      <h2 class="page-heading">{{ page.title }}</h2>
    {%- endif -%}
    {% endcomment %}
    <meta itemprop="description" content="{{ page.description }}">
    <link itemprop="mainEntityOfPage" href="{{ site.url | append: page.url }}">
    <meta itemprop="datePublished" content="{{ page.date | date: date_to_xmlschema }}">
    <meta itemprop="dateModified" content="{{ page.modified | date: date_to_xmlschema }}">
    {%- if site.structured_data.author -%}
      <span class="byline-item" itemprop="author" itemscope itemtype="http://schema.org/Person"><meta class="p-author h-card" itemprop="name" content="{{ site.structured_data.author.name }}"></span>
    {%- endif -%}
    {%- if site.structured_data.publisher -%}
      <span class="byline-item" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.structured_data.publisher.name }}"><span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: site.structured_data.publisher.logo.url }}"><meta itemprop="width" content="{{ site.structured_data.publisher.logo.width }}"><meta itemprop="height" content="{{ site.structured_data.publisher.logo.height }}"></span></span>
    {%- endif -%}
    {%- if page.schema.image_1x1 -%}
      {%- assign image = page.schema.image -%}
      <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: image.url }}"><meta itemprop="width" content="{{ image.width }}"><meta itemprop="height" content="{{ image.height }}"></span>
    {%- elsif page.image -%}
      <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: page.image }}"></span>
    {%- endif -%}

    <div itemprop="articleBody">
      {{ content }}
    </div>
  </div>

  {%- if site.documentation.size > 0 -%}
    {% comment %}
    <h2 class="post-list-heading space-before">{{ page.list_title | default: "How-To articles" }}</h2>
    {% endcomment %}
    <ul class="post-list">
      {%- for post in site.documentation -%}
      <li itemscope itemtype="http://schema.org/Article">
        <link itemprop="mainEntityOfPage" href="{{ post.url | absolute_url }}">
        <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- if page.modified -%}
          {%- assign dateModified = page.modified -%}
        {%- else -%}
          {%- assign dateModified = page.date -%}
        {%- endif -%}
        <meta itemprop="dateModified" content="{{ dateModified | date: date_to_xmlschema }}">
        {%- if site.structured_data.author -%}
          <span class="byline-item" itemprop="author" itemscope itemtype="http://schema.org/Person"><meta class="p-author h-card" itemprop="name" content="{{ site.structured_data.author.name }}"></span>
        {%- endif -%}
        {%- if site.structured_data.publisher -%}
          <span class="byline-item" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.structured_data.publisher.name }}"><span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: site.structured_data.publisher.logo.url }}"><meta itemprop="width" content="{{ site.structured_data.publisher.logo.width }}"><meta itemprop="height" content="{{ site.structured_data.publisher.logo.height }}"></span></span>
        {%- endif -%}

        {%- assign image = post.schema.image_1x1 -%}
        {%- assign imageAlt = post.schema.images.alt -%}
        {%- if image -%}
        <a class="post-link" href="{{ post.url | relative_url }}" itemprop="url"><img class="doc-thumb" src="{{ site.url | append: image.url }}" alt="{{ imageAlt }}"></a>
        <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: image.url }}"><meta itemprop="width" content="{{ image.width }}"><meta itemprop="height" content="{{ image.height }}"></span>
        {%- endif -%}

        <h3 itemprop="headline">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>

        {%- if site.show_excerpts -%}
          <div itemprop="description">{{ post.description }}</div>
        {%- endif -%}

        <div class="post-meta">
          {%- if site.data.comments[post.slug].size > 0 -%}
          <span class="byline-item"><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments' | prepend: 'assets/' | relative_url }}"></use></svg>{{ site.data.comments[post.slug] | size }}&nbsp;Comment{% if site.data.comments[post.slug].size > 1 %}s{% endif %}</span>
          {%- endif -%}
        </div>

        <div class="clearfix"></div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
