---
layout: default-home
---

<div class="post" itemscope itemtype="http://schema.org/SoftwareApplication"><meta itemprop="name" content="{{ site.title | escape }}"><meta itemprop="operatingSystem" content="{{ site.structured_data.softwareApplication.operatingSystem }}"><meta itemprop="applicationCategory" content="{{ site.structured_data.softwareApplication.applicationCategory }}"><meta itemprop="datePublished" content="{{ page.seo.datePublished }}"><meta itemprop="dateModified" content="{{ page.seo.dateModified }}"><span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="category" content="{{ site.structured_data.softwareApplication.offers.category }}"></span><span itemprop="price" content="{{ site.structured_data.softwareApplication.offers.price }}"></span><span itemprop="priceCurrency" content="{{ site.structured_data.softwareApplication.offers.priceCurrency }}"></span></span>
{{ content }}
</div>

{% include related-posts.html header="Recent astrological stories…"%}
