---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/SoftwareApplication"><meta itemprop="name" content="{{ site.title | escape }}"><meta itemprop="operatingSystem" content="{{ site.structured_data.softwareApplication.operatingSystem }}"><meta itemprop="applicationCategory" content="{{ site.structured_data.softwareApplication.applicationCategory }}"><meta itemprop="datePublished" content="{{ page.seo.datePublished }}"><meta itemprop="dateModified" content="{{ page.seo.dateModified }}"><span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="category" content="{{ site.structured_data.softwareApplication.offers.category }}"></span><span itemprop="price" content="{{ site.structured_data.softwareApplication.offers.price }}"></span><span itemprop="priceCurrency" content="{{ site.structured_data.softwareApplication.offers.priceCurrency }}"></span></span>

  <header class="post-header">
    <h1 class="post-title">{{ page.content_title | escape }}</h1>
  </header>

  <div class="post-content {{ page.content_class }}">
    {{ content }}
  </div>

{% assign summary = site.data.reviews-appstore.data-summary %}
{% assign reviews = site.data.reviews-appstore.data-reviews %}
{% if summary and reviews %}
	{% for review in reviews %}
		{% assign userName = review.userName %}
		{% assign score = review.score %}
		{% assign title = review.title %}
		{% assign text = review.text %}
		{% assign version = review.version %}
		{% assign userUrl = review.userUrl %}
		{% assign country = review.country %}
		{% include review-by-user.html userName=userName score=score title=title text=text version=version userUrl=userUrl country=country %}
	{% endfor %}
{% endif %}

</article>
