---
layout: base-newsletter
---
<article class="post newsl h-entry" itemscope itemtype="http://schema.org/Article">
{% include newsletter-header.html doc=page %}
  <div class="post-content e-content" itemprop="articleBody">
	{% if page.newsletter %}
		{% assign prefix = page.newsletter.prefix %}
		{% for f in site.newsletters_parts %}
			{% assign fprefix = f.path | split: "/" | last | split: "~" | first %}
			{% if fprefix == prefix %}
				{% include {{f.layouter}} doc=f %}
				{% if f.social %}
					{% include newsletter-social-action.html doc=f %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
  </div>

  {% include social-share.html %}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  {% if page.comments == true %}
    {% include comments.html %}
    {%- include comment-script.html -%}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>