---
layout: default
---

{% include related-posts.html mode="newsAndPosts" exclude=page %}

<article class="post h-entry" itemscope itemtype="http://schema.org/Article">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <link itemprop="mainEntityOfPage" href="{{ site.url | append: page.url }}">
    <p class="post-meta">
      <time class="dt-modified" datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- if page.modified -%}
          {%- assign date = page.modified -%}
        {%- else -%}
          {%- assign date = page.date -%}
        {%- endif -%}
        Updated {{ date | date: date_format }}
      </time>
      <meta itemprop="datePublished" content="{{ page.date | date: date_to_xmlschema }}">
      {%- if site.structured_data.author -%}
        <span class="byline-item" itemprop="author" itemscope itemtype="http://schema.org/Person"><meta class="p-author h-card" itemprop="name" content="{{ site.structured_data.author.name }}"></span>
      {%- endif -%}
      {%- if site.structured_data.publisher -%}
        <span class="byline-item" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="{{ site.structured_data.publisher.name }}"><span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: site.structured_data.publisher.logo.url }}"><meta itemprop="width" content="{{ site.structured_data.publisher.logo.width }}"><meta itemprop="height" content="{{ site.structured_data.publisher.logo.height }}"></span></span>
      {%- endif -%}
      {%- if page.schema.image -%}
        {%- assign image = page.schema.image -%}
        <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: image.url_1x1 }}"><meta itemprop="width" content="{{ image.size_1x1 }}"><meta itemprop="height" content="{{ image.size_1x1 }}"></span>
      {%- elsif page.image -%}
        <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="{{ site.url | append: page.image }}"></span>
      {%- endif -%}
      {%- if page.comments == true and site.data.comments[page.slug].size > 0 -%}
        <span class="byline-item"><a href="#comments"><svg class="icon icon--stopwatch" width="16px" height="16px"><use xlink:href="{{ 'icons.svg#icon-comments' | prepend: 'assets/' | relative_url }}"></use></svg>{{ site.data.comments[page.slug] | size }}&nbsp;Comment{% if site.data.comments[page.slug].size > 1 %}s{% endif %}</a></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

      <div class="container post-intro-box">
        <div class="row">
          <div class="col-6">
              <img src="{{ page.schema.image_1x1.url }}" alt="{{ page.schema.images.alt }}">
          </div>
          <div class="col-6">
              <div class="desktop-inset-left">
                <p>{{ page.description }}</p>
              </div>
          </div>
        </div>
      </div>

    {{ content }}
  </div>

  {% include social-share.html %}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  {% if page.comments == true %}
    {% include comments.html %}
    {%- include comment-script.html -%}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% include related-posts.html exclude=page header="You may be also interested in other astrological stories…" %}
